<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>Feeder</title>
    <script src="node_modules/vue/dist/vue.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="node_modules/axios/dist/axios.min.js" type="text/javascript" charset="utf-8"></script>
  </head>
<body>
  <h1>Feeder</h1>
  <div id="app">
    <ul>
      <li v-for="f in folders">
      <a v-bind:href="'/listify/list/feeds/' + f">/feeds/{{f}}</a>
      </li>
    </ul>
    <h2>Add feed</h2>
    <div style="display: flex; justify-content: center; flex-wrap: wrap">
      <select style="flex: 1" v-model="folder">
        <option v-for="f in folders" v-bind:value="f">{{f}}</option>
      </select>
      <input style="flex: 5" type="text" v-model="url"/>
      <button style="flex: 1" @click="add_feed(folder, url)">add feed</button>
      <button style="flex: 1" @click="feed_list()">feed list</button>
      <button style="flex: 1" @click="feed_list_length()">number of feeds</button>
    </div>
  <h3>Server response: {{response.result}}</h3>
  <pre>{{response}}</pre>
  <pre style="background-color: black; color: grey">{{matrix}}</pre>
  </div>
  <script type="text/javascript" charset="utf-8">
  new Vue({
    el: '#app',
    data: {
      folder: 'blog',
      url: '',
      response: {},
      matrix: '(◕‿◕✿) ',
      folders: ['blog', 'news']
    },
    methods: {
      add_feed: function (folder, url) {
        var vm = this
        vm.response = {'OK': 'wating server response...'}
        axios({
          method: 'get',
          url: '/feeder/add-feed',
          responseType: 'json',
          params: {'folder': folder, 'url': url}
        }).then(function (res) {
          vm.response = res.data
          if (res.data.login) /* need to login? */
            setTimeout(function() {
              window.location.href = res.data.login + '?next='
                + encodeURIComponent(window.location.href)
            }, 1000);
        }).catch(function (err) {
          console.log(err)
        })
      },
      feed_list: function () {
        var vm = this
        axios.get('/feeder/feed-list').then(function (res) {
          vm.response = res.data
        });
      },
      feed_list_length: function () {
        var vm = this
        axios.get('/feeder/feed-list-length').then(function (res) {
          vm.response = res.data
        });
      }
    },
    mounted: function () {
      this.feed_list_length()

      var vm = this
      var itv = setInterval(() => {
        axios({
          method: 'get',
          url: '/jobd/log/service-feeder:fetch-timer'
        }).then(function (res) {
          var matrix = res['data']
          vm.matrix = matrix.replace(/\n\n/g, "\n");
        }).catch(function (err) {
          clearInterval(itv)
        })
      }, 1000)
    }
  })
  </script>
</body>
</html>
